<% layout("/layout/boilerplate") -%>


<body>
    <h2>Hotel details </h2>
    <ul>
        <li><%=listedgData.title%></li>
        <li><%=listedgData.description %></li>
      <li>&#8377;<%= listedgData.price.toLocaleString("en-IN") %></li>
        <li><%=listedgData.location %></li>
        <li><%=listedgData.country %></li>
    </ul>
    <form action="/listing/edit/<%=listedgData.id%>" method="GET">
        <button type="submit">Edit</button>
    </form>
  <br>
     <form id="delete-form" action="/listings/<%=listedgData.id%>?_method=DELETE" method="POST">
         
        <button type="submit">Delete this listing</button>
    </form>

      <script>
        const deleteForm = document.getElementById("delete-form");

        deleteForm.addEventListener("submit", function (e) {
            e.preventDefault();

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to recover this listing!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!"
            })
            
            .then((result) => {
                if (result.isConfirmed) {
                    deleteForm.submit();
                }
            });
        });
    </script>
</body>
